@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

main {
    width: 100%;
    text-align: center;
    color: #0038a8;
    padding: 150px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h2 {
    font-weight: bold;
}

.row {
    width: 100%;
}

.acao {
    background-color: #0038a8;
    color: #fff;
    padding: 20px;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
}

.acao img {
    width: 70px;
}

a {
    display: block;
    text-decoration: none;
}