* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #0038a8;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

header img {
    width: 65px;
}

.cliente {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h1 {
    font-size: 30px;
}

.box-saldo span{
    font-size: 20px;
    font-weight: bold;
}
